<div class="login-container">
  <h2 class="mb-4">Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
