<div class="pizza-creator">
  <h2>Stwórz swoją pizzę</h2>
  <div *ngIf="ingredients.length > 0">
    <h3>Wybierz składniki:</h3>
    <div *ngFor="let ingredient of ingredients">
      <input type="checkbox" [id]="ingredient.id" (change)="onIngredientToggle(ingredient, $event)">
      <label [for]="ingredient.id">{{ ingredient.name }}</label>
    </div>

    <div *ngIf="ingredients.length === 0">
    <p>Ładowanie składników...</p>
  </div>

  <button (click)="submitPizza()">Zamów pizzę</button>
</div>
</div>
